@model WebApp.Models.ClientsViewModel

@{
    ViewData["Title"] = "Clients";
}

<section id="clients">
    <div class="section-header">
        <h1>@ViewData["Title"]</h1>
        <button type="button" data-type="modal" data-target="#addClientModal" class="btn btn-add">
            <span>Add Client</span>
        </button>
    </div>

    <table class="clients-table">
        <thead>
            <tr>
                <th>Client Logo</th>
                <th>Client Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model.Clients)
            {
                    var imagePath = string.IsNullOrEmpty(client.ProfileImage)
                    ? Url.Content("~/Images/Logo-placeholder.jpg")
                    : Url.Content($"~/uploads/{client.ProfileImage}");
                <tr>
                    <td>
                        <img class="client-logo" src="@imagePath" alt="@client.ClientName" />
                    </td>
                    <td>@client.ClientName</td>
                    <td>@client.Email</td>
                    <td>@client.PhoneNumber</td>
                    <td>

                        <button class="btn btn-edit">Edit</button>
                        <a asp-controller="Clients" asp-action="Delete" asp-route-id="@client.Id" class="btn btn-edit">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <partial name="Partials/Client/_AddClientModal" model="Model.AddClientViewModel" />
</section>
